<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.chat_bot">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".utils.Language"
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Chat_Bot"
        android:usesCleartextTraffic="true">

<!--        Introduction Screen-->
        <activity
            android:name=".Activities.mainintroscreen"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
            android:name=".Activities.IntoductionActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

<!--           Welcome Page-->
        </activity>
        <activity
            android:name=".Activities.welcomepage"
            android:exported="true" />
        <activity
            android:name=".Activities.acivity.OpenEnded"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".Activities.acivity.downloadQuizActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".Activities.QuizActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".Activities.acivity.TruefalseActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".Activities.acivity.Pic_mataching"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".Activities.acivity.MatchingActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".Activities.acivity.Video"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".Activities.acivity.quiz_home"
            android:configChanges="orientation|screenSize"
            android:exported="true">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".Activities.HomePage.HomeActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".Activities.Register"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".Activities.Splash"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.Mcqs_activity"
            android:exported="true" />
        <activity
            android:name=".Activities.Login"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize">

        </activity>
        <activity
            android:name=".Activities.MainActivity"
            android:exported="true" />
    </application>

</manifest>